---
permalink: css/styles.css
---
{% set css %}
  {% include "components/main.css" %}
  {% include "components/blockquote.css" %}
  {% include "components/prism.css" %}
  {% include "components/prism-default.css" %}
  {% include "components/prism-tomorrow-night.css" %}
{% endset %}

{{ css | cleancss | safe }}
